<h1> Add a new category </h1>
<%= link_to 'Back to categories', [:admin, :categories]%>
<div>
  <%= form_for [:admin, @category] do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <%= form.submit 'Create Category'%>
  <% end %>
</div>
