<h1> Add a new category </h1>

<div class="col-sm-6">
  <%= form_for [:admin, @category] do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div></br>
  <%= form.submit 'Create Category', class: 'btn btn-primary'%>
  <% end %></br>
  <%= link_to 'Back to categories', [:admin, :categories]%>
</div>
